#acessos-content {
    display: grid;
}

.input-acessos {
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid var(--main-color);
    margin: 40px 0;
}

.input-acessos label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--main-color);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-acessos input:focus ~ label,
.input-acessos input:valid ~ label {
    top: -5px;
}

.input-acessos input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--main-color);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.forgot-acessos {
    font-size: .9em;
    color: var(--main-color);
    font-weight: 600;
    margin: -10px 0 20px;
    display: flex;
}

.forgot-acessos input {
    accent-color: var(--main-color);
    margin-right: 3px;
    height: 13px;
    cursor: pointer;
}