.main {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
}

.logo_tech {
    position: absolute;
    width: 18rem;
    margin: 5px 0 0 20px;
}

.container {
    height: 100vh;
    display: flex;
}

.content {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    text-align: center;
    align-items: center;
    max-width: 60%;
    padding: 2rem;
    border: 2px solid var(--main-color);
    border-radius: 12px;
    box-shadow: var(--second-color) 0px 5px 15px;
}

h1 {
    font-size: 1.6em;
    color: var(--main-color);
    text-align: center;
    font-weight: 600;
}

.btn {
    width: 100%;
    height: 45px;
    background: var(--main-color);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
}

.btn:hover {
    background: var(--input-color);
}

.btn:active {
    background: var(--second-color);
}

.rodape{
    color: #000;
    font-size: 0.6em;
    margin-top: 20px;
}

.etapas {
    font-size: 20px;
    line-height: 1.6rem;
    color: var(--main-color);
    font-weight: 600;
}