@import url(./styles.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../images/backgroundMulti.png') no-repeat;
    background-size: cover;
    background-position: center;
  }

.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    width: 380px;
    height: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(24px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.form-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-bottom: -18px;
}

.form-box .input-text { 
    border-bottom: 1px solid #fff;
}

.form-box .input-text,
.form-box .input-text label,
.input-text input,
.checkbox {
    color: #fff;
}

.checkbox input { 
    accent-color: #fff;
    margin-right: 3px;
    height: 13px;
    cursor: pointer;
}

.btn {
    background: #fff;
    color: var(--main-color);
    font-weight: 600;
}

.form-box .btn:hover {
    background: #ebebeb;
}

.form-box .btn:active {
    background: #cfcfcf;
}

.login .rodape {
    color: #fff;
    font-size: 10px;
}